/* styles.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Caixa do formulário */
.forms{
    background: #111827;
    padding: 35px;
    border-radius: 15px;
    border: 1px solid #38bdf8;
    width: 340px;

    /* Neon fraco */
    box-shadow:
        0 0 8px rgba(56, 189, 248, 0.3);
}

/* Labels */
label{
    color: #dbeafe;
    font-size: 16px;
}

/* Inputs */
input{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;

    background: #1e293b;
    border: 1px solid #38bdf8;
    border-radius: 8px;

    color: white;
    outline: none;

    transition: 0.3s;
}

/* Efeito suave */
input:focus{
    box-shadow:
        0 0 8px rgba(56, 189, 248, 0.5);

    border-color: #7dd3fc;
}

/* Botão */
button{
    margin-top: 20px;
    padding: 12px 35px;

    background: transparent;
    color: #7dd3fc;

    border: 1px solid #38bdf8;
    border-radius: 8px;

    cursor: pointer;
    font-size: 16px;

    transition: 0.3s;

    box-shadow:
        0 0 6px rgba(56, 189, 248, 0.3);
}

/* Hover suave */
button:hover{
    background: #38bdf8;
    color: #0f172a;

    box-shadow:
        0 0 10px rgba(56, 189, 248, 0.5);
}